body {
    margin: 0 0;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    width: 100%;
    height: 100vh;
}
#container {
    font-family: 'Kelly Slab', cursive;
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100%;
}
#header, #footer {
    height: 100%;
    padding: 1em;
}
#header {
    text-align: center;
    border-bottom: 2px solid black;
    background-color: #27496d;
    color: white;
}
#nav {
    padding: .5em;
    border-right: 2px solid black;
    background-color: #0c7b99;
}
#main{
    margin: 0 0;
    padding-left: 1em;
    background-color: #00A8CC;
}
#footer{
    border-top: 2px solid black;
    background-color: #142850;
    color: white;
    line-height: 1.5rem;
}
img {
    float: left;
    margin-right: 1em;
    border-radius: 80px;
    width: 20%;
    height: 20%;
}
p{
    width: 40vw;
}
a:link, a:visited {
    color: #142850;
}
a:hover {
    color: white;
}
a:active {
    color: #00A8CC;
}
ul {
    list-style-image: url('../images/swirl.png');
}
li {
    margin: 5vh 0;
}