
            body {
                background-color: darkblue;
                color: white;
            }
            main, footer {
                border: 1px solid black;
                margin: 0 auto;
                width: 80vw;
                padding: 1vw;
            }
            h1 { 
                color:red;
                font-family: sans-serif;
                border-bottom: 1px solid blue;
            }
            h2 {
                color: lightcoral;
                margin-left: 50px;
            }
            p, ul {
                margin-left: 100px;
            }
            blockquote { 
                background-color: gray;
                padding: 1rem;
            }
            img{
                margin-left: 20px;
            }
            img.side{
                float: right;
                margin: 0 12px;
            }
            footer {
                background-color: gray;
            }
