
            body {
                background-color: lightblue;
            }
            h1 { 
                color:red;
                font-family: sans-serif;
                border-bottom: 1px solid blue;
            }
            h2 {
                color: lightcoral;
                margin-left: 50px;
            }
            p, ul {
                margin-left: 100px;
            }
            blockquote { 
                background-color: lightgray;
                padding: 1rem;
            }
            img{
                margin-left: 20px;
            }
            img.side{
                float: right;
                margin: 0 12px;
            }
