body{
    display: grid;
    font-family: 'Roboto Mono';
    margin: 0;
    grid-template-rows: 8vh auto 8vh;
    grid-template-areas: 
        "header"
        "wrapper"
        "footer";
}
header{
    background-color: #0B0C10;
    color: #C5C6C7;
    width: 100%;
    height: 8vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
header > *{
    margin: 0;
}
header h1{
    text-align: center;
}
nav{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
nav a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#wrapper{
    background-color: #C5C6C7;
    color: #0B0C10;
    height: 100%;
    display: grid;
    grid-template-rows: 92vh 60vh 60vh 60vh 20vh;
    grid-gap: 2rem;
}
#about{
    color: #66FCF1;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto auto;
    background-image: url("../media/stars2.jpeg");
}
h2{
    display: flex;
    align-items: center;
}
#about p, .desc{
    width: 75%;
    height: 100%;
    text-align: left;
    font-size: 1.2rem;
}
#self{
    grid-row-start: span 2;
}
#about, .project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
h2.desc{
    font-size: 2rem;
}
.work {
    padding-left: 1rem;
    height: 100%;
    width: 95%;
    grid-row-start: span 2;
}
#contact{
    padding-left: 2rem;
    padding-bottom: 2rem;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.info, .social{
    display: flex;
    align-items: center;
}
.info{
    align-content: space-between;
}
.social{
    justify-content: space-evenly;
}
.social a:hover{
    transform: scale(1.1, 1.1);
    background: none;
}
footer{
    background-color: #0B0C10;
    color: #C5C6C7;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#edu{
    text-align: end;
}
.social a{
    color: #C5C6C7;
    display: flex;
    justify-content: center;
}
a:link, a:visited{
    color: #C5C6C7;
}
a:hover, a:focus{
    background: #66FCF1;
    color: #0B0C10;
}
a:active{
    background: #C5C6C7;
}
a img{
    width: 75%;
    height: 75%;
}
iframe{
    display: flex;
    width: 90%;
    height: 90%;
    justify-self: center;
    align-self: center;
}
@media only screen and (max-width: 768px){
    header{
        display: grid;
        grid-template-columns: 1fr;
    }
    header h1{
        display: none;
    }
    nav{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
    }
    #wrapper{
        grid-template-rows: 92vh 90vh 90vh 90vh 20vh;
        padding: 0;
        grid-gap: 0;
    }
    #about, .project{
        grid-template-columns: 1fr;
        grid-template-rows: 45vh auto auto;
        width: 100%;
    }
    .project{
        margin-top: 1rem;
    }
    #self{
        grid-row-start: 1;
        width: 50%;
    }
    #about h2{
        display: flex;
        justify-self: center;
        text-align: center;
        font-size: 1.2rem;
        margin-top: .5rem;
    }
    #about p{
        font-size: 1rem;
    }
    .project > *{
        font-size: 1rem;
    }
    .work{
        grid-row-start: 1;
        height: 45vh;
        width: 80vw;
        padding: 0;
    }
    h2.desc{
        margin: 0;
    }
    p.desc{
        padding: .5rem;
        height: 100%;
        margin: 0;
    }
    #contact{
        width: 90vw;
        padding: .5rem;
        margin-top: 1rem;
        margin-bottom: .5rem;
        justify-self: center;
        grid-column-gap: 1rem;
        border-top: 2px solid black;
    }
    .social{
        padding-left: 1rem;
    }
    a img{
        width: 80%;
        height: 80%;
    }
    footer{
        font-size: .8rem;
        grid-template-columns: 1fr;
    }
    #edu{
        display: none;
    }
}