.grid {
    display: grid;
    width: 100vw;
    grid-template-rows: 5rem 1fr 2fr 5rem;
    grid-template-areas: 
        "header"
        "people"
        "subgrid"
        "footer";
    justify-items: center;
}
.header, .footer {
    background-color: #2e3532;
    color: #e0e2db;
    width: 80vw;
    font-family: Arial Rounded MT Bold;
}
a {
    color: #e0e2db;
    text-decoration: none;
}
a:hover {
    color: #bc0c06;   
}
.header {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, auto);
}
.header img {
    width: 4rem;
    height: 4rem;
    margin-left: 2.5rem;
}
#menu {
    text-align: center;
    padding-right: 1em;
}
.people img {
    width: 80vw;
    height: 100%;
}
.subgrid {
    background-color: #e0e2db;
    width: 76vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas: 
        "first second third fourth"
        "design design program program";
    grid-gap: 2rem;
    padding: 2rem;
    font-family: Arial;
    font-size: 1.3em;
}
.subgrid div {
    background-color: #d2d4c8;
}
.subgrid img {
    width: 100%;
}
.subgrid h2, p {
    padding: 0 1rem;
}
#design, #program {
    background-color: #bc0c06;
    color: #e0e2db;
    grid-column: span 2;
    padding: 1rem;
}
#red {
    margin-bottom: 3rem;
}
.footer {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 1.2em;
}
.footer #copyright {
    padding: 1rem;
    padding-left: 3rem;
}
.footer #info {
    padding: 1rem;
    padding-right: 3rem;
    text-align: end;
}