.grid {
    display: grid;
    width: 60vw;
    grid-template-rows: 10vh 30vh auto 10vh;
    grid-template-areas: 
        "header"
        "people"
        "subgrid"
        "footer";
    justify-items: center;
}
img {
    width: 60vw;
}
.header, .footer {
    background-color: #2e3532;
    width: 60vw;
}
.subgrid {
    background-color: #e0e2db;
}
.subgrid p {
    background-color: #d2d4c8;
}